@import url(https://fonts.google.com/share?selection.family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900);
@font-face{
  src: url(fon/Kanit-Light.ttf);
  font-family:kani;
}



body{
  text-align: center;
  font-family: Helvetica, sans-serif;
  align-items: center;
  justify-content: center;
}

#ab{
  text-align: center;
  font-family: kani;
  align-items: center;
  justify-content: center;
}